# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
flask>=2.2.2
flask-cors
gunicorn==20.0.4
